@charset "UTF-8";
/* CSS Document */

/* normalizes margin, padding */
ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,form,body,html,p,blockquote,fieldset,input {
	margin:0;
	padding:0;
	background-color: #FFF;
}
body {
	background-color: #0C3;
	margin-right: auto;
	margin-left: auto;
}
.header {
	font-family: "Comic Sans MS", cursive;
	font-size: 16px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 30px;
	color: #03F;
	height: 450px;
	width: 450px;
	background-color: #039;
	margin: 10px;
}
.wrapper {
	background-color: #000;
}
